*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    
}
header{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
   
}

header div{
    display: flex;
    align-items: center;
}

header li{
    width: 200px;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    
}

header li a {
    text-decoration: none;
    font-size: 20px;
     color: black;
}

a:visited,a:active{
    text-decoration: none;
    color: black;
}

section{
    margin: 0 auto;
    max-width: 800px;
    min-width: 300px;
    
}
section div{
    font-weight: 500;
    margin-top: 3rem;
    font-size: 1.3em;
}

.prof-div{
    margin-top: 1rem;
   display: grid;
   gap: 0.7rem;
   justify-content: center;
    width: 100%;
}

.prof-div p{
    text-align: center;
    
}

.prof-div p {
    font-size: 15px;
    font-weight: 500;
}

.prof-div p code{
    background-color: grey;
    color: white;
   
    font-style: italic;
    padding: 2px;
}

.prof-div h2{
    text-align: center;
    
}

.prof-img{
    width: 100;
    border-radius: 50%;
   
}

.icon-links{
    text-align: center;
    text-decoration: none;

}

.icon-links a {
    text-decoration: none;
}

.icon svg{
    width: 1.5rem;
    height: 1.5rem;
    color: black;
}